
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skybeat @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #643875;">
            <div class="container">
                <a class="navbar-brand d-none d-lg-block">
                    <img src="~/Images/logo.png" height="100" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                </button>
                <a class="navbar-brand d-block d-lg-none mx-auto">
                    <img src="~/Images/logo.png" alt="logo" height="80">
                </a>
                <div class="dropdown ml-lg-auto mr-lg-3 d-block d-lg-none">
                    <button class="btn dropdown-toggle text-light" type="button" id="uzivatel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user fa-lg text-secondary text-light">
                        </i>
                    </button>
                    <div class="dropdown-menu bg-dark-2 dropdown-menu-right text-light p-3" aria-labelledby="" style="width: 300px">
                        
                        <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Skybeat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="List">Users</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown ml-lg-auto mr-lg-3 d-none d-lg-block">
                    <button class="btn dropdown-toggle text-light" type="button" id="uzivatel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user fa-lg text-secondary text-light">
                        </i>
                    </button>
                    <div class="dropdown-menu bg-dark-2 dropdown-menu-right text-light p-3" aria-labelledby="uzivatel" style="width: 300px">
                        <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </div>
                </div>
            </div>

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Skybeat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
